<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/page/index.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="w-75 text-center py-5">
                <h1 class="mb-0 pb-3">Welcome To Application</h1>
                <ol>
                    <li><div>Create New List</div></li>
                    <li><div>View List</div></li>
                    <li><div>Edit List</div></li>
                    <li><div>Feature List</div></li>
                </ol>
            </div>
        </div>
    </div>
    
</body>
</html>